<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="NICKS" value="zNotify,zNotify_,znotify"/>
		<add key="SERVERS" value="irc.quakenet.org:6667"/>
		<add key="CHANNELS" value="#testinglol234"/>
		<add key="PRIVMSG_EXTRACT" value=":(?'NICK'[^!]+)![^ ]+ PRIVMSG (?'CHANNEL'[^ ]+) :(?'MSG'.*)$"/>
		<add key="JOINPART_EXTRACT" value="^NOTUSED:(?'NICK'[^!]+)![^ ]+ (?'CMD'[^ ]+) "/>
		<add key="VERBOSE" value="true"/>
		<add key="BACKLOG_SIZE" value="10000"/>
	</appSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
