<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="NICKS" value="zNotify,zNotify_,znotify"/>
		<add key="SERVERS" value="irc.projectpokemon.org:6667,irc.quakenet.org:6667"/>
		<add key="CHANNELS" value="0:#projectpokemon,1:#dotdash"/>
		<add key="PRIVMSG_EXTRACT" value=":(?'NICK'[^!]+)![^ ]+ PRIVMSG (?'CHANNEL'[^ ]+) :(?'MSG'.*)$"/>
		<add key="JOINPART_EXTRACT" value="^NOTUSED:(?'NICK'[^!]+)![^ ]+ (?'CMD'[^ ]+) "/>
		<add key="VERBOSE" value="true"/>
		<add key="BACKLOG_SIZE" value="10000"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
