<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NICK" value="zNotify"/>
		<add key="SERVER" value="irc.quakenet.org"/>
		<add key="PORT" value="6667"/>
		<add key="ALT_NICK" value="zNotify_"/>
		<add key="LOGIN" value="Z_NOTIFY"/>
		<add key="CHANNEL" value="#dotdash"/>
		<add key="PRIVMSG_EXTRACT" value=":(?'NICK'[^!]+)![^ ]+ PRIVMSG (?'CHANNEL'[^ ]+) :(?'MSG'.*)$"/>
		<add key="JOINPART_EXTRACT" value=":(?'NICK'[^!]+)![^ ]+ (?'CMD'[^ ]+) "/>
	</appSettings>
</configuration>